# Angular cache and build
.angular/
dist/
build/

# Node dependencies
node_modules/

# Python/Django cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django environment and config
.env
*.env

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db